<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--兼容IE-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--网页每隔5min自动刷新-->
    <meta http-equiv="Refresh" content="300">
    <title>山东理工大学入校信息核验系统</title>
    <!--semantic-ui-->
    <link th:href="@{/css/semantic.min.css}" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/echarts.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<!--主容器-->
<div class="ui container">

    <div><img class="ui fluid image" th:src="@{/img/top.jpg}"></div>

    <!--导航部分-->
    <div style="margin-top: 20px">
        <div>
            <a class="ui button" type="button" style="margin-right: 20px;background-color: #54afea"
               th:href="@{'/list/'+${adminId}}">今日入校详情</a>
            <a class="ui button" type="button" style="margin-right: 20px;background-color: #54afea"
               th:href="@{'/filedToday/'+${adminId}}">今日审核未通过详情</a>
            <a class="ui button" type="button" style="background-color: #54afea"
               th:href="@{'/goNotSubmitInToday/'+${adminId}}">今日未提交名单</a>
            <a class="ui button" type="button" style="float: right;background-color: #e593d4"
               th:href="@{'/goListManager/'+${adminId}}">名单管理</a>
        </div>
        <div style="margin-top: 20px;display: flex;justify-content: space-between">
            <div>
                <a class="ui button" type="button" style="margin-right: 20px;background-color: #67e25e;">历史数据详情
                </a>
                <a class="ui button" type="button" style="margin-right: 20px;background-color: #67e25e"
                   th:href="@{'/toSubmitDataCount/'+${adminId}}">提交数据统计</a>
                <a class="ui button" type="button" style="margin-right: 20px;background-color: #67e25e"
                   th:href="@{'/toWayData/'+${adminId}}">“到达或途径”统计</a>
                <a class="ui button" type="button" style="margin-right: 20px;background-color: #67e25e">历史数据可视化</a>
            </div>
            <div>
                <h4 th:text=" ${admin.getDepartmentName()}+' : '+${nickName} " style=""></h4>
                <a class="ui button" type="button" style="float:right"
                   th:href="@{/logout}">退出</a>
            </div>
        </div>

    </div>

    <div class="ui grid" style="margin-top: 0px">
        <div class="four wide column">
            当前位置：提交数据统计
        </div>
    </div>

    <div id="app1">
        <el-menu default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1">表格</el-menu-item>
            <el-menu-item index="2">散点图</el-menu-item>
        </el-menu>

        <!--表格-->
        <div style="margin-top: 15px" v-show="showTable">
            <el-table
                    :data="dataList"
                    border
                    :cell-style="{'font-weight':'bold'}"
                    :header-cell-style="{'color':'#606266'}"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="100">
                </el-table-column>
                <el-table-column :label="val" v-for="(val,i) in dayList" :key="i" align="center">
                    <template slot-scope="scope">
                        {{dataList[scope.$index].arr[i]}}
                    </template>
                </el-table-column>
            </el-table>
            <div style="display: flex;justify-content: flex-end;margin-top: 10px">
                <el-pagination
                        background
                        layout="prev, pager, next,total"
                        @current-change="currentChange"
                        :total="total">
                </el-pagination>
            </div>
        </div>
        <!-- 散点图-->
        <div v-show="!showTable" style="display: flex;justify-content: center">
            <div id="scatterChart" style="width: 1200px; height:500px;" ></div>
        </div>
    </div>


</div>

</body>

<script>
    var app1 = new Vue({
        el:"#app1",
        data:{
            dataList:[],
            dayList:[],
            total:0,
            currentPage:1,
            size:10,
            showTable:true,
            xData:[],
            yData:[],
            submitData:[]
        },
        mounted(){
            this.initData();
            this.initScatterData();
        },
        methods:{
            handleSelect(key,keypath){
                if (key==1){
                    this.showTable=true;
                }else if(key==2){
                    this.showTable=false;
                }
            },
            initData(){
                let pathname = window.location.pathname;
                let department = pathname.split('/')[2];
                axios.get('http://localhost:8080/get21DaysData?dep='+department+
                                                    '&currentPage='+this.currentPage+
                                                    '&size='+this.size).then(resp=>{
                    this.dayList=resp.data.dayList;
                    this.dataList=resp.data.data;
                    this.total=resp.data.total;
                })
            },
            initScatterData(){
                let pathname = window.location.pathname;
                let department = pathname.split('/')[2];
                axios.get('http://localhost:8080/getScatterDataInSubmitted?dep='+department).then(resp=>{
                    this.xData = resp.data.nameList;
                    this.xData.splice(0,0,' ')
                    this.yData = resp.data.dayList;
                    this.yData.splice(0,0,' ')
                    this.submitData = resp.data.submitList;

                    var dom = document.getElementById('scatterChart');
                    var myChart = echarts.init(dom, null, {
                        renderer: 'canvas',
                        useDirtyRect: false
                    });
                    var app = {};

                    var option;

                    option = {
                        dataZoom: [
                            {
                                type: 'slider',
                                show: true,
                                xAxisIndex: [0],
                                left: '10%',
                                start: 0,
                                end: 50,
                            }
                        ],
                        grid: {
                            //show: true
                        },
                        xAxis: {
                            type: 'category',
                            data: app1.xData,
                            boundaryGap: false,
                            interval: 1,
                            axisTick: {
                                alignWithLabel: true,
                                show: true,
                            },
                            spiltLine: {
                                show: true,
                                interval: 1,
                            },
                            axisLine: {
                                show: true,
                            }
                        },
                        yAxis: {
                            data: app1.yData,
                            boundaryGap: false,
                            interval: 1,
                            spiltLine: {
                                show: true,
                                //interval:1,
                            },
                        },
                        type: 'category',

                        series: [
                            {
                                symbolSize: 20,
                                data: app1.submitData,
                                type: 'scatter'
                            }
                        ]
                    };
                    if (option && typeof option === 'object') {
                        myChart.setOption(option);
                    }
                    window.addEventListener('resize', myChart.resize);
                })
            },
            currentChange(page) {
                this.currentPage = page;
                this.initData();
            }
        }
    })



</script>

</html>